:root {
    --color-light: #fff;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Oxygen', sans-serif;
    background-color: var(--color-light);
}

.calculator-wrapper {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.layout {
    display: grid;
    grid-template-rows: minmax(185px, auto) repeat(5, 65px);
    grid-template-columns: repeat(4, 65px);
    justify-content: center;
    align-content: center;
}
