* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Oxygen', sans-serif;
  background-color: #fff; }

.layout {
  display: grid;
  grid-template-rows: minmax(180px, auto) repeat(5, 65px);
  grid-template-columns: repeat(4, 65px);
  justify-content: center;
  align-content: center; }

.screen {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  grid-column: 1/-1;
  padding: 40px 30px;
  background-color: #252F34;
  color: #fff; }

.screen-now {
  font-size: 55px; }

.screen-before {
  font-size: 30px;
  opacity: .3; }

.btn {
  font-family: 'Oxygen', sans-serif;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #F5766F;
  font-size: 25px;
  font-weight: 300;
  color: #fff;
  transition: .2s;
  outline: none;
  cursor: pointer; }
  .btn:hover {
    opacity: .85; }

.btn-function {
  background-color: #F6B17B; }

.btn-action {
  background-color: #E93E52; }

.btn-big {
  grid-column: span 2; }
