:root {
  --color-light: #fff; }

* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Oxygen', sans-serif;
  background-color: var(--color-light); }

.calculator-wrapper {
  display: flex;
  justify-content: center;
  min-height: 100vh; }

.layout {
  display: grid;
  grid-template-rows: minmax(185px, auto) repeat(5, 65px);
  grid-template-columns: repeat(4, 65px);
  justify-content: center;
  align-content: center; }

.screen {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  grid-column: 1/-1;
  padding: 40px 30px 40px 10px;
  background-color: #252F34;
  color: var(--color-light); }

.screen-now {
  max-width: 100%;
  background-color: #252F34;
  border: none;
  color: var(--color-light);
  font-size: 55px;
  text-align: right;
  pointer-events: none;
  outline: none; }

.screen-before {
  font-size: 30px;
  opacity: .3; }

.btn {
  font-family: 'Oxygen', sans-serif;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #F5766F;
  font-size: 25px;
  font-weight: 300;
  color: var(--color-light);
  transition: .2s;
  outline: none;
  cursor: pointer; }
  .btn:hover {
    opacity: .85; }

.btn-function {
  background-color: #F6B17B; }

.btn-action {
  background-color: #E93E52; }

.btn-big {
  grid-column: span 2; }

.btn-disable {
  pointer-events: none; }

.table-layout {
  display: flex;
  flex-direction: column; }

.table-row {
  display: flex;
  justify-content: space-between; }
  .table-row:nth-child(odd) {
    background-color: #F6B17B; }

.table-cell {
  padding: 20px 10px;
  margin: 0; }
